.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.6);
    backdrop-filter: blur(6px);
    z-index: 10;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 420px;
    background: #fff;
    border-radius: 22px;
    z-index: 11;
    box-shadow: 0 25px 60px rgba(0,0,0,0.25);
}


.header {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.close {
    font-size: 26px;
    cursor: pointer;
}

.body {
    padding: 10px 24px 20px;
    gap: 16px;
}

.input-group {
    position: relative;
    margin-bottom: 20px;
}

.input-group input {
    width: 100%;
    padding: 14px 12px;
    border-radius: 10px;
    border: 1px solid #d1d5db;
    outline: none;
    font-size: 14px;
}

.input-group label {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    color: #07008f;
    font-size: 13px;
    pointer-events: none;
    transition: 0.2s ease;
    background: #fff;
    padding: 0 6px;
}

.input-group input:focus + label,
.input-group input:not(:placeholder-shown) + label {
    top: -6px;
    font-size: 11px;
    color: #03003a;
}

.footer {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    padding: 16px 24px;
    border-top: 1px solid #e5e7eb;
}

.cancel {
    background: #3f3f3f;
    color: #ffffff;
    border: none;
    padding: 10px 18px;
    border-radius: 10px;
    font-size: 14px;
    cursor: pointer;
}

.cancel:hover {
    background: #000000;
    color: #ffffff
}
  
.submit {
    background: #4138ee;
    color: #fff;
    border: none;
    padding: 10px 22px;
    border-radius: 10px;
    font-size: 14px;
    cursor: pointer;
}

.submit:hover {
    background: #1b1758;
    color: #ffffff;
}